/* .app7 {
    padding-top: 0.0125em;
} */

.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.signIn:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

/* .search:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    z-index: 3;
}

.basket:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    z-index: 3;
} */

.content {
    font-weight: bold;
}

.field1 {
    width: 80%;
    border: 0.0625em solid green;
    margin-bottom: 3%;
}

.field2 {
    width: 80%;
    border: 0.0625em solid green;
}
.shopName {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 200%;
}
  
.modalSignIn {
    position: absolute;
    width: 25%;
    left: 35%;
    top: 10%;
    z-index: 7;
}
  
.modalSignUp {
    position: absolute;
    width: 25%;
    left: 36%;
    top: 5%;
    z-index: 7;
}
  
/* .modalSearch {
    left: 72%;
    top: 10%;
    z-index: 7;
}
  
.modalBasket {
    left: 72%;
    top: 10%;
    z-index: 7;
} */

.btn-cancel {
    background-color: #e7e7e7; 
    color: black;
    border: 0.0625em solid #e7e7e7;
    border-radius: 0.9375em;
}

  